.grid {
    margin-top: 6em !important;
    margin: 0 auto;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1em;
    max-width: 940px;
    word-wrap: break-word;
}
.example-card {
    max-width: 400px;
  }
  
img{
      height: 250px !important;
      overflow: auto;
  }