.grid {
    padding-top: 6em !important;
    padding: 3em;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: auto;
    grid-column-gap: 1em;
    grid-row-gap: 3em;
}

.photo {
    justify-self: center;
    align-self: center;
    width: 16vw;
    height: 50vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.photo img {
    width: 16vw;
    animation-duration: 1s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.photo:hover {
    overflow: visible;
}

@media screen and (max-width:683px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .photo {
        width: 100%;
        height: 50vh;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .photo img {
        width: 100%;
    }
    .photo:hover {
        overflow: visible;
    }
}