<div class="grid">
  <mat-card *ngFor="let post of posts">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <img src="{{post.data.url}}" alt="Photo of a Shiba Inu">
      </div>
      <span>{{post.data.name}}</span>

    </mat-card-header>
    <mat-card-content style="font-size:12px">
      <div id="teachBlock">
        <p><b>Teaches:</b> {{post.data.teaches}}</p>
      </div>
      <p>
        <b>About:</b> {{post.data.desc}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" *ngIf="this.aS.authState" mat-button (click)="deletePost($event,post)" >Delete Item</button>
    </mat-card-actions>
  </mat-card>
</div>