.grid {
    margin-top: 6em !important;
    margin: 2em;
    padding-top: 2em;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 300px) );
    grid-template-rows: auto;
    grid-column-gap: 1em;
    grid-row-gap: 3em;
}

mat-card {
    width: 200px;
    justify-self: center;
    animation-duration: 1s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      top: 10vh;
      opacity: 0.5;
    }
  
    to {
        top: 0vh;
        opacity: 1;
    }
  }
  
.imgdiv{
    margin-left: -24px;
    margin-right: -24px;
    height: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
}

form{
    grid-column: span 2;
    background: rgba(0, 0, 0, 0.774);
    padding: 1em;
}
mat-card-content{
    margin-top: 1em;
}


@media screen and (max-width:700px) {
    .grid{
        grid-template-columns: 1fr;
        margin: 0px;
    }
    mat-card {
        width: 200px;
        justify-self: center;
    }
}