mat-toolbar-row {
    background: rgb(0, 82, 0);
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr auto;
    grid-template-areas: 
    "header"
    "t"
}

mat-toolbar{
    grid-area: header;
}

router-outlet{
    grid-area: t;
}
.btn-clicked{
    background: rgb(0, 56, 0);
}
