<div class="grid">

  <div class="navbar">
      <div id="nav-icon2">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>


      <div class="logout" *ngIf="this.aS.authState as user; else showLogin">
        <button mat-raised-button color="warn" id="logout" (click)="logout()">Logout</button>
        <button routerLinkActive="active-link" style="margin-top: 5px !important" routerLink="/admin">Admin</button>
      </div> 
      <ng-template #showLogin>
        <div id="title" style="margin-left: 5vw;font-family:Courier New, Courier, monospace;background: rgb(27, 56, 0);border-radius:4px;color:whitesmoke; padding-left:9px;padding-right:9px;"
          (click)="login()">dot.com.club</div>
      </ng-template>

    
      <span class="btn">
        <button routerLinkActive="active-link" routerLink="/home">Home</button>
        <button routerLinkActive="active-link" routerLink="/faculty">Faculty</button>
        <button routerLinkActive="active-link" routerLink="/gallery">Gallery</button>
        <button routerLinkActive="active-link" routerLink="/events">Events</button>
        <button routerLinkActive="active-link" routerLink="/contacts">Contact Us</button>
      </span>
    </div>
  <div class="sidebar">
    <span class="smenu">
      <ul>
        <li>
          <a routerLinkActive="active-link" routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLinkActive="active-link" routerLink="/faculty">Faculty</a>
        </li>
        <li>
          <a routerLinkActive="active-link" routerLink="/gallery">Gallery</a>
        </li>
        <li>
          <a routerLinkActive="active-link" routerLink="/events">Events</a>
        </li>
        <li>
          <a routerLinkActive="active-link" routerLink="/contacts">Contacts</a>
        </li>
      </ul>
    </span>
  </div>
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span style="display: flex;justify-content:flex-end;cursor: pointer;font-size: 40px;" (click)="close()">&times;</span>
      <pre style="margin:2px;display: flex;justify-content:center;">Admin login</pre>
      <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="email" [(ngModel)]="mail"  required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>        
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="password" [(ngModel)]="pwd" type="password" required>
      </mat-form-field>
      <button mat-raised-button style="width:100%;justify-self:center" color="primary" (click)="submit()">Click me</button>
    </div>
  
  </div>
  <router-outlet></router-outlet>
</div>