<div class="grid">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>dot.com.club</span>

    <span class="example-spacer"></span>
    
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/faculty">Faculty</button>
    <button mat-button routerLink="/gallery">Gallery</button>
    <button mat-button routerLink="/events">Events</button>
    <button mat-button routerLink="/contacts">Contact Us</button>
  </mat-toolbar-row>
</mat-toolbar>

<button mat-button>My Button</button>

<router-outlet></router-outlet>
</div>